/* -------------------------------------------------- */
/* ハンバーガーメニュー */
/* -------------------------------------------------- */
/* ナビボタンhide指定 */
.nav-button {
  display: none;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  box-sizing: content-box;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

/* ハンバーガーメニューバー作成 */
.nav-button::before,
.nav-button::after {
  content: "";
  display: block;
  height: 2px;
  background-color: currentColor;
  transition: 0.3s ease-in-out;
}

/* 上線位置修正 */
.nav-button::before {
  transform: translateY(-10px);
  box-shadow: 0 11px currentColor;
}

/* 下線位置修正 */
.nav-button::after {
  transform: translateY(10px);
}

@media(max-width:769px) {
  .nav-button {
    margin-left: auto;
  }
}

/* ナビメニューflex化 */
.nav ul {
  display: flex;
  align-items: center;
}

/* ナビ文字間指定 */
.nav li:not(:last-child) {
  margin-right: 1vw;
}

/* -------------------------------------------------- */
/* ナビボタン✕状態 */
.open .nav-button {
  z-index: 1000;
}

/* 斜めバー作成 */
.open .nav-button::before {
  box-shadow: none;
  transform: translateY(1px) rotate(45deg);
}

/* 斜めバー作成 */
.open .nav-button::after {
  transform: translateY(-1px) rotate(-45deg);
}

/* -------------------------------------------------- */
/* ナビメニュー:モバイル */
@media(max-width:769px) {

  /* 開閉共通 */
  html,
  body {
    overflow-x: hidden;
  }

  .nav {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    transition: left 0.5s;
    /* 文字位置 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  /* 文字縦並び */
  .nav ul {
    display: block;
    text-align: center;
  }

  .nav li {
    padding: 30px 0;
  }

  .nav li a {
    color: #ffffff;
  }

  /* ハンバーガーメニュー表示ON */
  .nav-button {
    display: block;
  }

  /* メニュー閉じてるとき */
  body {
    position: relative;
  }

  .nav {
    position: absolute;
    top: 0;
    left: 100vw;
  }

  /* メニュー開いたとき */
  /* 画面全体に指定 */
  html .open,
  .open body {
    height: 100vh;
    overflow: hidden;
  }

  .open .nav {
    left: 0;
  }

  .open .nav-button {
    color: white;
  }
}