/* -------------------------------------------------- */
.item_data {
  background-color: white;
  width: 24vw;
  min-height: 370px;
  margin: 3% auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
}
.item_image {
  width: 24vw;
  height: 24vw;
  min-width: 24vw;
  min-height: 24vw;
  object-fit: scale-down;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
/* 769pxまで（768px以下）の場合 */
@media(max-width:769px) {
  .item_data {
    width: 48vw;
  }
  .item_image{
    width: 48vw;
    height: 48vw;
  }
}
/* 426pxまで（425px以下）の場合 */
@media(max-width:426px) {
  .item_data {
    width: 90vw;
  }
  .item_image {
    width: 90vw;
    height: 90vw;
  }
}
.item_name_frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item_group * {
  margin: 10px auto;
  padding-left: 10px;
}
.item_name {
  font-size: 1.8rem;
  padding: 15px;
  font-family: 'RocknRoll One', sans-serif;
}
.item_price {
  margin: 50px 5px;
  font-size: 1.8rem;
  color: red;
  font-weight: bold;
}
.item_price+span {
  font-size: 0.8rem;
  color: red;
}
.item_quantity {
  display: block;
  margin: 20px 25px 15px auto;
}
.item_genre{
  padding: 0;
}

/* -------------------------------------------------- */
.item_submit {
  width: 90%;
  line-height: 30px;
  border: 1px solid black;
  background-color: #ffe20a;
  color: black;
  margin: 0 10px;
  font-weight: bold;
}
.item_submit:hover {
  background-color: orange;
}
/* -------------------------------------------------- */
.detail_data {
  background-color: white;
  width: 40vw;
  min-height: 560px;
  height: 70vh;
  margin: 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  overflow-y: scroll;
}
/* 769pxまで（768px以下）の場合 */
@media(max-width:769px) {
  .detail_data {
    width: 80vw;
    margin: 0 auto;
  }
}
.detail_data::-webkit-scrollbar {
  display: none;
}

.detail_image {
  width: 100%;
  height: 60%;
  object-fit: contain;
  border-radius: 10px 10px 0 0;
}
.detail_name_frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail_inner_frame {
  width: 90%;
  margin: 3% auto;
}
.detail_name {
  font-size: 2.5rem;
  padding: 10px;
  font-family: 'RocknRoll One', sans-serif;
}
.detail_price {
  margin: 50px 5px;
  font-size: 3rem;
  color: red;
  font-weight: bold;
}
.detail_price+span {
  font-size: 1.6rem;
  color: red;
}
.detail_description {
  font-size: 1.2rem;
  padding: 10px;
  height: 4rem;
}
.detail_disp_like {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}
.detail_quantity{
  display: block;
  margin: 20px 50px 15px auto;
}
.detail_hashtag{
  margin: 10px 0;
}


.auxiliary{
  padding: 20px;
}

.my_comment{
  resize: none;
  width: 95%;
  height: 5rem;
  font-size: 1rem;
  padding: .5rem;
}