body {
  background: linear-gradient(white, beige);
}

/* -------------------------------------------------- */
.data_list{
  overflow-x: auto;
}
.tbl_item_list{
  width: 1200px;
  margin: 0 auto;
  /* -webkit-overflow-scrolling: touch; */
}
table th,td {
  vertical-align: middle;
}
.tbl-head {
  align-items: center;
  height: 4rem;
  background-color: #fb6d6d;
  color: white;
  /* column-gap: 5px; */
}
.tbl-odd {
  align-items: center;
  height: 3.5rem;
  background-color: #fcd0d0;
  font-size: 1em;
  /* column-gap: 5px; */
  margin-right: 5px;
  border: 1px solid #fcd0d0;
}
.tbl-even {
  align-items: center;
  height: 3.5rem;
  background-color: #f7b0b0;
  font-size: 1em;
  /* column-gap: 5px; */
  margin-right: 5px;
  border: 1px solid #f7b0b0;
}